.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.g.dart
*.freezed.dart
android/local.properties
android/.gradle/
android/gradlew
android/gradlew.bat
android/app/.cxx/
android/key.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
.idea/
